[defaults]
inventory = ./inventory/inventory.ini
become_ask_pass = false
become_user = ezwan
# vault_identity_list = webserver@.ansible/vault/become_pass.txt,server01@.ansible/vault/host_pass.txt

[privilege_escalation]
become = true
become_method = sudo
become_ask_pass = false